<div class="static_pages">
	<div class="text_style">
		<h1>Privacy Policy</h1>
		<p> Our privacy policy is simple: </p>
		<p> We use your data to find you the events near you that are most relevant to you, and that is all. Your data will not be sold or given away, or in any instance be transferred from our database to a third party for any commercial use.</p>
	</div>
</div>