<div class="static_pages">
	<div class="text_style">
		<h1>Support</h1>
		<p> If you have any feedback or suggestions we'd love to hear from you! Shoot us an email at <a href="mailto:elvent@mit.edu?Subject=Help%20please!" target="_top">elvent@mit.edu</a>! Or, if any questions or issues arise, let us know and we'll get our elves right on it!</p>
	</div>
</div>