<div class="static_pages">	
	<div class="text_style">
		<h1>Terms of Service</h1>
		<p>By using this website, <a href="http://www.elvent.io">www.elvent.io</a>, you agree to the following terms of service: </p>
		<p>You can not sue us for any reason, and if you do, you are liable for all legal costs we incur. </p>
		<p> Likewise, we will not sue you, but if you are a meanie and try to break or hack our site, we will ban you and our elves will be very grumpy.</p>
	</div>
</div>