<!DOCTYPE html>
<html>
<head>
  <title>Elvent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta property="og:image" content="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xlf1/v/t1.0-9/12294630_593543404119685_8325970620557108389_n.png?oh=51530522d6d1a0d74e6c8fa48578751e&oe=571F6B3E" />
  <meta property="og:description" content="Let our elves find the most popular events near you :)" />
  <meta property="og:url" content="http://www.elvent.io" />
  <meta property="fb:app_id" content="871569562938664" /> 
  

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
