<!DOCTYPE html>
<html>
<head>
  <title>Elvent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta property="og:image" content="http://www.elvent.io/elvent_cover_email.png" />
  <meta property="og:description" content="Let our elves find the most popular events near you :)" />
  

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
